<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver&Agir</title>
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
</head>
<body>
    <main class="main-pag03">
        <header class="pag03">
            <img src="{{ asset('build/images/logoprogeo.png') }}" alt="logo_progeo">
            <h1>Ver&Agir</h1>
        </header>
        
        <div class="enviarImagem" id="enviarImagem">
            <img src="{{ asset('build/images/pngwing.com.png') }}" alt="Botão para carregar imagem." onclick="openCamera()">
            <p onclick="openCamera()">Carregar Imagem</p>
        </div>
        
        <div id="cameraContainer" class="hidden">
            <video id="cameraView" autoplay playsinline></video>
            <button onclick="takePhoto()">Capturar</button>
            <button onclick="switchCamera()">Alternar Câmera</button>
            <button onclick="closeCamera()">Fechar Câmera</button>
        </div>

        <div id="imagePreviewContainer" class="hidden">
            <h2>Imagem Capturada:</h2>
            <div id="imagePreview"></div>
            <button id="discardButton" onclick="discardPhoto()">Descartar</button>
        </div>

        <form action="{{ path('process_pag03') }}" method="POST">
    <div class="form-group">
        <label for="latitude">Latitude:</label>
        <input type="text" name="latitude" class="latitude">

        <label for="longitude">Longitude:</label>
        <input type="text" name="longitude" class="longitude">

        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao"></textarea>
    </div>
    <button type="submit">Enviar</button>
</form>

    </main>

    <footer>
        <p>©PROGEO ENGENHARIA 2024</p>
    </footer>
    
    <script src="{{ asset('scripts.js') }}"></script>
</body>
</html>
